streamlit==1.28.1
deeplake==3.8.0
openai==0.27.6
langchain==0.0.312
tiktoken==0.4.0
unstructured==0.6.5
pdf2image==1.16.3
pytesseract==0.3.10
beautifulsoup4==4.12.2
bs4==0.0.1
python-dotenv==1.0.0
sentence-transformers==2.2.2
tqdm==4.65.0
GitPython==3.1.31
pypdfium2==4.20.0